.App {
  margin: 20px;
}

.left-side {
  margin: 0 20px;
  float:left;
  width: 350px;
}
.control-row {
  margin: 15px 0;
}
.label {
  margin-right: 10px;
  vertical-align: top;
}
.value {
  vertical-align: top;
  margin-left: 10px;
}
.show {
  height: 40px;
  line-height: 40px;
}

.show > .generations {
  color: aliceblue;
  display: inline-block;
  text-align: center;
  width: 75px;
  line-height: 40px;
  border-radius: 2px;
  background: #4c4e4d;
}
.btn {
  cursor: pointer;
  width: 60px;
  height: 30px;
  background: #E68473;
  border: none;
  margin: 0 10px;
  border-radius: 3px;
  outline: none;
  transition: all 0.5s linear;
}

.btn:hover {
  opacity: 0.8;
}

.game-control {
  vertical-align: middle;
}







.right-side {
  height: 100%;
  margin-left: 400px;

}
.board-wrapper {
  padding: 10px;
  background: #282C34;
}
.cell {
  float: left;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  background: #FFF;
}

.live {
  background: #61C078;;
}
